WEIGHT_EDIT_DISTANCE=28
WEIGHT_METAPHONE=27
WEIGHT_SOUNDEX=0
WEIGHT_LENGTH=3
WEIGHT_LAST_CHAR=1
WEIGHT_FIRST_CHAR=5
WEIGHT_FIRST_CHAR_UPPER=1
WEIGHT_FIRST_CHAR_LOWER=4
WEIGHT_ADD_REM_CHAR=2
WEIGHT_JOINED_WORD=40
WEIGHT_FAZZY_PHON=4

SEARCH_JOINED=true
JOINED_WORD_LENGTH_MIN=2
JOINED_WORD_LENGTH_EDT=4

ED_DEF_LENGTH_MIN=1
ED_DEF_LENGTH_MED=2
ED_DEF_LENGTH_MAX=3

LENGTH_ED_DEF_MIN=1
LENGTH_ED_DEF_MED=4
LENGTH_ED_DEF_MAX=6

DELIMITERS=, .\n\r\t:+!?;{}()[]^<>=/\"“”_#$\\|
DELIMITERS_JOINED=@%&*-
